.chatpage-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #CDD8F4;
}
.chatpage-container > h2 {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-size: 28px;
  font-weight: 700;
  color: #122f68;
}

.chatpage-container > p {
    width: 90%;
    text-align: center;
    margin-top: 0px;
}

.chat-form-container {
    width: 310px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chat-message-area {
    display: flex;
    width: 295px;
    height: 55vh;
    border: none;
    border-top: 2px solid black ;
    flex-direction: column-reverse;
}

.chat-response {
    width: 300px;
    height: 30px;
    padding: 5px 10px;
    margin-top: 15px;
    border-radius: 50px;
    font-size: 16px;
}

.message-on-screen {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    /* border: 1px solid blue; */
    /* background-color: rgb(119, 163, 246); */
    background-color: white;
    box-shadow: 1px 1px 3px 1.5px rgb(129, 128, 128);
    padding: 2px 7px;
    border-radius: 5px;
    
}

.chat-submit-button {
    margin: 5px 0px 0px 5px;
    width: 80px;
    background-color: #122F68;
    color: ghostwhite;
    border-radius: 5px;

}