.home-images {
    height: 100px;
    width: 300px;
}

.last-home-div {
    margin-bottom: 100px;
}

.home-div-containers {
    width: 300px;
}

.home-div-containers > h3 {
    text-align: left;
    margin-bottom: 10PX;
    font-size: 20px;
}

.home-div-containers > h4 {
    margin: 5px 0px -10px 0px;
    text-align: left;
}
.home-div-containers > p {
    text-align: left;
    margin-bottom: 30px;
    font-size: 12px;
}

.home-div-containers > h2 {
    text-align: center;
}
